.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  height: 500px;

  margin-bottom: 5%;
}

.bg-contato {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./img/contato-conosco.jpg);
  background-size: cover;
}

.frase-contato {
  text-align: center;
}

.titulo-contato {
  font-size: 4rem;
  color: white;
}
.subtitulo-contato {
  padding-top: 3%;
  font-size: 3rem;
  color: white;
}

/*FORMULARIO*/

.contato-row {
  min-height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;

  justify-items: center;
  justify-content: center;
  height: 100%;
}

.container-direita {
  width: 50%;
}

.container-direita {
  width: 50%;
}

.titulo-contato-msg {
  padding-bottom: 4%;
  font-size: 3rem;
}

.subtitulo-contato-msg {
  font-size: 2rem;
}

/*FORMULARIO*/

.nome-email {
  display: grid;
  grid-template-rows: 1fr 1fr;
  row-gap: 20%;
}
.label-contato {
  font-size: 2rem;
}

.form-contato {
  width: 100%;
  height: 60px;
}
.color-red {
  color: red;
}
#msg {
  width: 100%;
  height: 200px;
  resize: none;
}

#submit-contato {
  height: 80px;
  width: 100%;
  font-size: 2rem;

  background-color: #0e3a51;
  color: white;
  font-weight: 600;
  border-radius: 30px;
}

#submit-contato:hover {
  background-color: #071d29;
}

input {
  padding: 12px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.5rem;
}

body {
  justify-items: center;

  grid-template-rows: 150px 1fr;
}

@media screen and (min-device-width: 480px) and (max-device-width: 800px) {
  .contato-row {
    grid-template-columns: 1fr;
  }

  footer {
    bottom: 0;
    position: fixed;

    grid-template-columns: 1fr;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contato-row {
    grid-template-columns: 1fr;
  }

  footer {
    bottom: 0;

    grid-template-columns: 1fr;
  }
}
