.container {
  width: 100%;
  display: grid;
  align-items: flex-start;
  justify-content: center;
  justify-items: center;
  min-height: 100vh;
  grid-template-columns: 1fr;

  margin-bottom: 5%;

  grid-column: 1/-1;

  flex-grow: 1;
}

.bg-contato {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-image: url(./img/contato-conosco.jpg);
  background-size: cover;
}

.frase-contato {
  text-align: center;
}

.titulo-contato {
  font-size: 4rem;
  color: white;
}
.subtitulo-contato {
  padding-top: 3%;
  font-size: 3rem;
  color: white;
}

/*FORMULARIO*/
main {
  flex-grow: 1;
}
.contato-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5%;
  grid-template-rows: 1fr;

  height: 100%;

  flex-grow: 1;

  row-gap: 20px;
  column-gap: 20px;
  margin: 2% 2%;
  justify-content: center;
  align-content: center;
}

.container-direita {
  width: 100%;
  height: 100%;
  display: flex;
  justify-items: center;
  flex-direction: column;
}

.container-direita {
  width: 100%;
  height: 100%;
}

.titulo-contato-msg {
  padding-bottom: 4%;
  font-size: 3rem;
}

.subtitulo-contato-msg {
  font-size: 2rem;
}

/*FORMULARIO*/

.nome-email {
  display: flex;

  flex-direction: column;
  row-gap: 20%;
}
/*PADDING NAS LABELS*/
.label-e-input {
  padding: 5%;
}
.label-contato {
  font-size: 2rem;
}

.form-contato {
  width: 100%;
  height: 60px;
}
.color-red {
  color: red;
}
#msg {
  width: 100%;
  height: 200px;
  resize: none;
}

#submit-contato {
  height: 80px;
  width: 100%;
  font-size: 2rem;

  background-color: #0e3a51;
  color: white;
  font-weight: 600;
  border-radius: 30px;
}

#submit-contato:hover {
  background-color: #071d29;
}

input {
  padding: 12px;
}

::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  font-size: 1.5rem;
}

body {
  /* justify-items: center;*/

  grid-template-rows: 150px 1fr 200px;
  min-height: 100vh;
  grid-template-columns: 1fr;
}

footer {
  bottom: 0;
}

.imagem-rodape {
  width: 100%;
}

.icones {
  width: 100%;
}

.lista-column {
  width: 100%;
}
@media screen and (min-device-width: 480px) and (max-device-width: 800px) {
  .contato-row {
    grid-template-columns: 1fr;
  }

  .imagem-rodape {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media screen and (min-device-width: 320px) and (max-device-width: 480px) {
  .contato-row {
    grid-template-columns: 1fr;
  }
}
