.container{

        width: 100%;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        height: 300px;
        margin-bottom: 110px;
}

.container h1{
    margin-bottom: 25px;
}
.titulo h2{
    font-family: "Lato";
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    color: #1F1F1F;
    margin: 0;
    padding-right: 10
}
.container p{
    font-family: "Lato";
    font-style: normal;
    font-size: 22px;
}