#container {
    margin-top: 2%;
    display: flex;
  
    /* Talvez mude o colum gap no body depois no final*/
    column-gap: 100px;
    
    justify-content: center;
    justify-items: center;
    align-items: center;
  
    width: 100%;
  }
  
  .titulo-saudacao{
     font-size: 1.3rem;
     padding-bottom: 5%;
  }
  
  .mensagem-home{
      font-size: 3rem;
      padding-bottom: 5%;
  
  }
  
  p.mensagem{
      padding-bottom: 5%;
      font-size: 1.5rem;
  }
  
  .btn-continuar-loja {
    background-color: #52b039;
    border:none;
  
    width: 250px;
    font-size: 1.2rem;
    font-weight: 700;
  
    padding: 15px 15px;
    border-radius: 30px;
  
    color: #e7e7e7;
  }
  
  .btn-continuar-loja:hover{
      background-color: #499b32;
  }
  
  .imagem-mulher-home {
    border-radius: 20px;
  }
  