* {
  margin: 0;
  padding: 0;

  color: #2f2f2f;

  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}
a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* #logo{
    font-size: ;
} */

#logo img {
  width: 50px;
  height: 50px;
}
header {
  box-sizing: border-box;
  height: 150px;
  background-color: #e7e7e7;
  color: white;

  width: 100%;
  grid-column: 1/-1;


}

nav{
    width: 100%;
    position: fixed;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    top: 0;
    background-color: #612D10;
    
}

body{
   
    min-height: 100vh;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
   
    row-gap: 4%;
}

#logo img {
  border-radius: 50%;
  width: 130px;
  height: 130px;
}
#menu {
  display: flex;
  list-style: none;
  gap: 1rem;
 
}

#menu li {
    color: white;
    font-size: 1.5rem;
    margin: 50px;
}

