* {
  margin: 0;
  padding: 0;

  color: #2f2f2f;

  font-family: "Roboto", sans-serif;
}
a {
  color: black;
  text-decoration: none;
  font-family: sans-serif;
}
a:hover {
  background-color: rgba(0, 0, 0, 0.05);
}
/* #logo{
    font-size: ;
} */

#logo img {
  width: 50px;
  height: 50px;
}
header {
  box-sizing: border-box;
  height: 70px;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #e7e7e7;

  position: fixed;
  width: 100%;
  grid-column: 1/-1;


}

body{
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
}

#logo img {
  border-radius: 25px;
  width: 50px;
  height: 50px;
}
#menu {
  display: flex;
  list-style: none;
  gap: 1rem;
}


